<div th:fragment="navbar" class="nav">
    <a th:href="@{/}" class="home" th:text="#{greeting}">
        HOME
    </a>
<!--    <span th:text="#{greeting}"></span> CHANGE LANGUAGE CHECK-->
    <div th:if="!${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/register}" th:text="#{register}" >Register</a>
    </div>
    <div th:if="!${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/login}" th:text="#{login}" >Login</a>
    </div>
    <div th:if="${#request.userPrincipal}"  class="basicButton">
        <a th:href="@{/logout}" th:text="#{logout}">Logout</a>
    </div>
    <div class="basicButton">
        <a th:href="@{/cruise}" th:text="#{cruise}">Cruise</a>
    </div>
    <div th:if="${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/profile}" th:text="#{profile}">Profile</a>
    </div>
    <div th:if="${#request.userPrincipal}" class="basicButton">
        <a th:href="@{/addCruise}" th:text="#{addnewcruise}">Add new cruise</a>
    </div>
    <div class="basicButton" >
        <a th:href="@{/orders}" th:text="#{orderlist}">Order list</a>
    </div>
    <div class="basicButton" th:fragment="language">
        <span th:text="#{lang.change}"></span>:
        <select id="locales">
            <option value=""></option>
            <option value="en" th:text="#{lang.eng}"></option>
            <option value="pl" th:text="#{lang.pl}"></option>
        </select>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#locales").change(function () {
                    var selectedOption = $('#locales').val();
                    if (selectedOption !== ''){
                        window.location.replace('?lang=' + selectedOption);
                    }
                });
            });
        </script>
    </div>
</div>